rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    match /events/{file} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /memberships/cards/{filePath=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /foto/showcase/{file} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /tickets/{filePath=**} {
      allow read: if request.auth != null && request.auth.token.admin == true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    match /foto/{eventFolder}/{file} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // ✅ LETTURA PUBBLICA per /logos/
    match /logos/{filePath=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }

    // ✅ LETTURA PUBBLICA per /patterns/
    match /patterns/{filePath=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    
     match /{allPaths=**} {
      allow read, write:  if request.auth != null && request.auth.token.admin == true;
    }
  }
}